.botao1{background-color: #ffde50;}
.firstrow{background-color: #ffde50;}
.imagem2{width: 350px;}
.final{background-color: #ffde45;}
.imagemback{background-color: #FCF190;}
.texto {color: #253D94;}
.background-image {
    background-image: url("C:\Users\drili\OneDrive\Área de Trabalho\Projeto Fintech\Projeto_Fintech_Front\Projeto Fintech\Assests\imagens_legends\686646_campeonatos_3.jpg") no-repeat center center;
    background-size: cover;
}
