@media (max-width: 766px) {
    /* Classe que define o texto p/ centralizar a partir de uma tela de largura de 766px */
    .custom-center {
        text-align: center;
    }
    /* Classe que define o a imagem p/ centralizar a partir de uma tela largura de 766px */
    .custom-img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Definindo tamanho dos botões */
.w-140 {
    width: 140px !important;
}

.h-140 {
    height: 140px !important;
}

/* Definindo cores dos Botões */
.btn-yellow {
    background-color: yellow;
    color: black; /* Cor do texto */
}

.btn-red {
    background-color: red;
    color: white; /* Cor do texto */
}

.btn-blue {
    background-color: blue;
    color: white; /* Cor do texto */
}

